[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua
[submodule "librime-lua"]
	path = librime-lua
	url = https://github.com/hchunhui/librime-lua
