.my-column {
  width: calc(100vw - 24px);
  max-width: 1280px;
  margin: auto;
}

.my-footer {
  width: calc(100vw - 24px);
  max-width: 900px;
  margin: auto;
}

.n-a {
  display: inline-block;
}

.square-group button {
  width: 34px;
  padding: 0;
}
